.card{
    height: 12rem;
    width: 11rem;
    cursor: pointer;
    object-fit: cover;
}

.card img{
    width: 12rem;
    height: 12rem;
}

.card-content{
    position: relative;
}

.card-content img{
    width: 2.5rem;
    height: 2rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* .card{
    height: 24rem;
    width: 22rem;
    cursor: pointer;
}

.card img{
    width: 24rem;
    height: 24rem;
}

.card-content{
    position: relative;
}

.card-content img{
    width: 5rem;
    height: 4rem;
    position: absolute;
    right: 0;
    bottom: 0;
} */