header{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 22.5rem;
    overflow: hidden;
    background-color: black;
}

.hero-quote{
    position: absolute;
    width: 30rem;
    right: 8rem;

}
header q{
    font-size: 1.5rem;
    color: white;
    z-index: 1;
}

.hero-logo{
    width: 11rem;
    height: 11rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
}


.hero-img-bg{
    width: 100vw;
    height: 29rem;
    object-position: center;
    object-fit: cover;
    opacity: 0.4;
    z-index: -1;
}

@media screen and (min-width: 1023px) {
    .hero-logo{
        width: 11rem;
        height: 11rem;
        left: 8rem;
    }
}