.filter-cart-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    box-shadow: 0 0 0.4rem 1px black;
}

.filter-cart-nav p{
    font-size: 1.5rem;
    color: var(--color-jet);
}

.filter-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7rem;
    height: 2rem;
    margin-left: 2rem;
}

.filter-icon img{
    width: 2rem;
    height: 1.5rem;
}

.shopping-cart-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    margin-right: 2rem;
}

main{
    display: flex;
    justify-content: center;
}

.filter-section{
    display: none;
}

.hero-quote{
    display:none;
}


.mug-section{
    position: relative;
    height: auto;
}

.quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    padding: 2rem;
}

.mug-quote{
    text-align: center;
    justify-content: right;
    color: black;
}

.mugs-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 12rem);
    grid-template-rows: 21rem 21rem;
    gap: 1rem 2rem;
    padding-top: 2rem;
    height: 65rem;
}

@media screen and (min-width: 1023px) {
    .filter{
        display: none;
    }

    .filter-section{
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 23rem;
        background-color: var(--color-jet);
    }
    
    .filter-section-container{
        width: 15rem;
    }

    .filters li{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        border-bottom: 1px solid white;
    }
    
    .mugs-container{
        padding-top: 8rem;
        padding-left: 5rem;
        padding-right: 5rem;
        scale: 1.2;
    }

    .filter-nav{
        display: none;
    }

    .quote-container{
        display: none;
    }

    ul{
        padding-left: 0;
        list-style: none;
    }
    
    li:first-child{
        border-top: 1px solid white;
    }
    
    .mug-section{
        width: 100%;
        height: 50vh;
        background-color: var(--bg-white);
    }

    .hero-quote {
        display: inline;
    }
    
    .mug-quote{
        display: none;
    }

}

@media screen and (min-width: 500px){
    .shopping-cart-mobile{
        display: none;
    }
}