.filter{
    position: relative;
}

.filter img{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

main{
    display: flex;
}

.filter-section{
    display: none;
}

.hero-quote{
    display:none;
}

.quote-container{
    display: grid;
    grid-template-columns: 0.8fr 1.5fr 0.3fr;
    grid-template-rows: 2rem 5rem;
}

.mug-quote{
    justify-content: right;
    grid-column: 2;
    grid-row:2;
    color: black;
}

.card{
    height: 12rem;
    width: 11rem;
}

.card img{
    width: 12rem;
    height: 12rem;
}

@media screen and (min-width: 1023px) {
    .filter{
        display: none;
    }

    .filter-section{
        display: flex;
        justify-content: center;
        width: 23rem;
        background-color: var(--color-jet);
    }
    
    .filter-section-container{
        width: 15rem;
    }

    .filters li{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        border-bottom: 1px solid white;
    }
    
    ul{
        padding-left: 0;
        list-style: none;
    }
    
    li:first-child{
        border-top: 1px solid white;
    }
    
    .mug-section{
        width: 100%;
        height: 50vh;
        background-color: var(--bg-white);
    }

    .hero-quote {
        display: inline;
    }
    
    .mug-quote{
        display: none;
    }

}