.filter{
    position: relative;
}

.filter img{
    position: absolute;
}

.filter-open img{
    left: 13rem;
    top: 0.5rem;
}

main{
    display: flex;
}

.filter-section{
    display: none;
}
.hero-quote{
    display:none;
}
.mug-quote{
    display: inline;
    color: black;
    text-align: center;
}
@media screen and (min-width: 1023px) {
    .filter-section{
        display: flex;
        justify-content: center;
        width: 23rem;
        background-color: var(--color-jet);
    }
    
    .filter-section-container{
        width: 15rem;
    }
    
    .filters li{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        border-bottom: 1px solid white;
    }
    
    ul{
        padding-left: 0;
        list-style: none;
    }
    
    li:first-child{
        border-top: 1px solid white;
    }
    
    .mug-section{
        width: 100%;
        height: 50vh;
        background-color: var(--bg-white);
    }
    .hero-quote {
        display: inline;
    }
    .mug-quote{
        display: none;
    }

}