nav{
    display: flex;
    justify-content: center;
    background-color: var(--color-jet);
    width: 100%;
}

.nav-container{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.nav-container a:hover{
    text-decoration: underline;
}

.shopping-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--bg-white);
    cursor: pointer;
}

.shopping-cart-mobile{
    display: none;
}

@media screen and (max-width: 500px) {
    .nav-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30px 30px;

    }
    nav {
        display: grid;
    }
    a {
        justify-self: center;
    }
    nav a:first-child{
    grid-column: 1;
    }
    nav a:nth-child(2){
        grid-column: 2;
    }
    nav a:nth-child(3){
        grid-column: 1;
    }
    nav a:nth-child(4){
        grid-column: 2;
    }
    .shopping-cart {
        display: none
    }
}