:root{
    --color-jet: #333333;
    --color-antique-white: #FEEFDD;
    --bg-white: #EBEBEB;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--bg-white);
    margin: 0;
    min-height: 100vh;
    background-color: var(--bg-white);
}
