*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 28.5rem;
    background-color: black;
}

header article{
    position: absolute;
    width: 22rem;
    height: 10rem;
    right: 8rem;

}
header q{
    font-size: 20px;
    color: white;
    z-index: 1;
}

.hero-logo{
    width: 11rem;
    height: 11rem;
    position: absolute;

    left: 8rem;
    z-index: 1;
}

.hero-img-picture{
  position: absolute;
}

.hero-img-bg{
    width: 100vw;
    height: 29rem;

    object-position: center;
    object-fit: cover;
    
    opacity: 0.6;
    z-index: -1;
}