.trending-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: var(--color-jet);
}

.trending-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    margin-bottom: 2rem;
    color: var(--color-antique-white);
}

.trending-header, .trending-text p, .trending-volume, .trending-company-name{
color: var(--color-antique-white);
}

.trending-company-name{
    text-align: center;
    font-size: 1.2rem;
}

.trending-title{
    margin: 0;
}

.trending-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

.trending-content-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem 0;
    width: 100%;
}

.trending-content-img img{
    width: 80%;
}

.trending-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending-product-info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 18rem;
}

.trending-price-cart{
    display: flex;
    flex-direction: column;
}

.trending-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-jet);
    width: 9rem;
    border: 1px solid var(--color-antique-white);
    border-radius: 1rem;
    padding: 0 0.5rem;
    align-self: flex-end;
}

.trending-cart p{
    color: white;
}

.trending-cart svg{
    width: 2.5rem;
    height: 2rem;
}

.trending-price-cart p{
    align-self: flex-end;
}

.trending-volume{
    width: 5rem;
    align-self: flex-end;
}

.trending-bottom{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

@media screen and (min-width: 500px) {
    .trending-product-info{
        width: 100%;
        padding: 0 1rem;
    }

    .trending-text{
        font-size: 1rem;
    }

    .trending-content-img img{
        width: 60%;
    }
}

@media screen and (min-width: 700px) {
    .trending-content-img img{
        width: 70%;
    }
}

@media screen and (min-width: 800px) {
    .trending-content-img img{
        width: 40%;
    }
}

@media screen and (min-width: 1023px){
    .trending-content{
        flex-direction: row;
    }

    .trending-content-img img{
        width: 90%;
    }

    .trending-container{
        padding-bottom: 2rem
    }
}
