@font-face {
    font-family: 'Abel';
    src: url('../Abel-font/Abel-Regular.woff2') format('woff2'),
         url('../Abel-font/Abel-Regular.woff') format('woff');
}

body{
    color: white;
    font-family: 'Abel';
}

.nav-container a{
    color: var(--color-antique-white);
    text-decoration: none;
}

.shopping-cart a{
    color: black;
}

.card{
    color: black;
}

.card p{
    margin: 5px 0;
}

.card-pricing{
    color: var(--pricing-red);
}

.card-title{
    font-size: 24px;
}

.card-company{
    font-size: 18px;
}

.card-pricing{
    font-size: 28px;
}

.trending-header{
    letter-spacing: 5px;
    font-size: 1.5rem;
    color: black;
}

.trending-content p{
    color: black;
}