@font-face {
    font-family: 'Abel';
    src: url('../Abel-font/Abel-Regular.woff2') format('woff2'),
         url('../Abel-font/Abel-Regular.woff') format('woff');
}

body{
    color: white;
    font-family: 'Abel';
}

.nav-container a{
    color: var(--color-antique-white);
    text-decoration: none;
}

.filter-cart-nav p{
    font-size: 1rem;
    color: var(--color-jet);
}

.shopping-cart a{
    color: black;
}

.card{
    color: black;
}

.card p{
    margin: 5px 0;
}

.card-pricing{
    color: var(--pricing-red);
}

.card-title{
    font-size: 24px;
}

.card-company{
    font-size: 18px;
}

.card-pricing{
    font-size: 28px;
}

.trending-header{
    font-size: 1.5rem;
    color: black;
}

.trending-text{
    font-size: 0.8rem;
}

.trending-text p, .trending-volume{
    color: black;
}

.trending-price{
    color: var(--pricing-red);
    font-size: 32px;
    margin-bottom: 0;
}

.mug-quote{
    font-size: 18px;
}

@media screen and (min-width: 435px) {
    .trending-title{
        letter-spacing: 0.5rem;
    }
}